@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;

}

#main {
    width: 100%;
    background-color: #fff;
}

#home {
    width: 100%;
    min-height: 100vh;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 30px 50px; 
}

#nav img {
    width: 100px;
} 

#nav #right {
    display: flex;
    align-items: center;
    gap: 30px;
}

#nav a {
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-size: 1vw;
    letter-spacing: -1px;
}

#nav i {
    margin-top: 3px;
    font-size: 20px;
}

#home #homemain {
    width: 100%;
    padding: 15vw 15vw; 
}

#homemain h1 {
    font-weight: 500;
    font-size: 1.3vw;
    letter-spacing: -.1vw;
}

.headings {
    display: flex;
    gap: 40px;
}

#homemain .headings h1 {
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-size: 6vw;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -10px;
}

#homelast {
    padding: 5vw 15vw;
}

#homelast p {
    width: 40%;
    font-size: 1.5vw;
    font-weight: 400;
    letter-spacing: -.1vw;
}

#homelast p::selection {
    color: #fff;
    background-color: #000;
}